.main {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.rightArea {
  display: flex;
  width: 590px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.bottomRightBoxes {
  display: flex;
  gap: 20px;
}
